body{
margin:0 auto;
padding:0;
font-family:arial;}

div.header-line{
background-color:black;
width:100%;
height:50px;}

div.logo{
max-width:940px;
margin:0 auto;}

div.header-line a.logo-vip{
margin-left:6%;
float:left;
padding:12px 0;}

div.header-line a.logo-line{
margin-right:6%;
float:right;
padding:12px 0;}

div.promo-content{
max-width:940px;
width:100%;
margin:0 auto;}

img.big-banner{
width:100%;
margin:4% 0;
}

img.big-banner-over{
width:100%;
margin:4% 0;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}
img.banner{
width:100%;
margin-bottom:2.5%;
}

div.content-line{
margin: auto 0;
display:block;
width:100%;
text-align:center;

}

div.product-line{
background-color:#EEEEEE;
border:1px solid #DDDDDD;
width:135px;
height:320px;
margin:1.6%;
display:inline-block;
margin-bottom:2.5%;}




h4{
font-size:14px;
font-weight:bold;
font-family:arial;
margin-top:15px;
margin-bottom:2px;
text-align:center;
height:50px;
margin-left:5px;
margin-right:5px;}

span.old-price{
text-decoration:line-through;
font-size:13px;
color:#888888;
font-family:arial;
text-align:center;

}

span.new-price{
color:#D90000;
font-size:13px;
font-weight:bold;
font-family:arial;
text-align:center;
}



div.error{
max-width:940px;
width:90%;
margin:0 auto;
text-align:center;
margin-top:10%;}

div.error h2{
font-family:arial;
font-size:20px;
color:#d00017;
}
div.error p{
font-family:arial;

}

a{
text-decoration:none;}



a span.button {
width:80%;
max-width:300px;
display:block;
background: #d40000; /* Old browsers */
background: -moz-linear-gradient(top,  #d40000 0%, #960000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d40000), color-stop(100%,#960000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #d40000 0%,#960000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #d40000 0%,#960000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #d40000 0%,#960000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #d40000 0%,#960000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d40000', endColorstr='#960000',GradientType=0 ); /* IE6-9 */
text-decoration:none;
text-align:center;
padding:15px;
margin: 0 auto;
margin-top:5%;
margin-bottom:3%;
border: 1px solid #DDDDDD;
border-radius: 6px;
text-decoration:none;
color:#FFFFFF;
font-family:arial;
font-weight:bold;
font-size:15px;
text-align:center;}



.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibidivty: hidden;
    divne-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}